.navbar{
   width: 100%;
   padding: 20px;
   display: flex;
   align-items: center;

.logo {
  display: flex;
    align-items: center;
}

  .icons{
    display: flex;
    align-items: center;

    .user {
        display: flex;
        align-items: center;

        img{
            width: 28px;
            height: 28px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
   } 
}

